<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <authorization/>
    <roleManager defaultProvider="CustomProvider" createPersistentCookie="false" cookieTimeout="8" cacheRolesInCookie="true" cookieProtection="All" enabled="true">
      <providers>
        <add connectionStringName="constr" name="CustomProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="constr" enablePasswordRetrieval="false" requiresUniqueEmail="false" enablePasswordReset="true" applicationName="/" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  
  <connectionStrings>
    <add name="constr" connectionString="Data Source = ahmad-pc;Initial Catalog=ESystem;Integrated Security=True;"/>
  </connectionStrings>
</configuration>